# Log and Iloc

In [2]:
import numpy as np
import pandas as pd
m= np.random.randint(1,30, size=(10,3))
df=pd.DataFrame(m, columns=["var1","var2","var3"])
df

   var1  var2  var3
0     6    23    29
1     5    23    12
2    21     6     8
3    20    29    19
4    15    12     8
5     4     5    15
6    12    28     3
7     9    22    18
8    17    29    13
9    17    13     7

In [4]:
# Log more indexing

In [6]:
df.loc[0:3]

   var1  var2  var3
0     6    23    29
1     5    23    12
2    21     6     8
3    20    29    19

In [11]:
df.loc[0:3,"var3"]

0    29
1    12
2     8
3    19
Name: var3, dtype: int32

In [ ]:
#iloc normal indexing

In [7]:
df.iloc[0:3]

   var1  var2  var3
0     6    23    29
1     5    23    12
2    21     6     8

In [8]:
df.iloc[0,0]

6

In [10]:
df.iloc[:3,:2]

   var1  var2
0     6    23
1     5    23
2    21     6

In [12]:
df.iloc[0:3]["var3"]

0    29
1    12
2     8
Name: var3, dtype: int32