# Pandas Series

In [1]:
import pandas as pd

In [52]:
pd.Series([1,2,10,40,5])

0     1
1     2
2    10
3    40
4     5
dtype: int64

In [3]:
s=pd.Series([1,2,10,40,5])

In [4]:
type(s)

pandas.core.series.Series

In [5]:
s.axes

[RangeIndex(start=0, stop=5, step=1)]

In [6]:
s.dtype

dtype('int64')

In [7]:
s.size

5

In [8]:
s.ndim

1

In [9]:
s.values

array([ 1,  2, 10, 40,  5], dtype=int64)

In [10]:
s.head(3)

0     1
1     2
2    10
dtype: int64

In [11]:
s.tail()

0     1
1     2
2    10
3    40
4     5
dtype: int64

In [12]:
s.tail(2)

3    40
4     5
dtype: int64

# Index rename

In [13]:
pd.Series([99,22,33,97,5])

0    99
1    22
2    33
3    97
4     5
dtype: int64

In [14]:
s=pd.Series([99,22,33,97,5])

In [15]:
pd.Series(s, index=[1,3,5,7,9])

1    22.0
3    97.0
5     NaN
7     NaN
9     NaN
dtype: float64

In [16]:
pd.Series([99,22,33,97,5], index=[1,3,5,7,9])

1    99
3    22
5    33
7    97
9     5
dtype: int64

In [18]:
pd.Series([99,22,33,97,5], index=["a","b","c","d","e"])

a    99
b    22
c    33
d    97
e     5
dtype: int64

In [29]:
s=pd.Series([99,22,33,97,5], index=["a","b","c","d","e"])

In [30]:
s

a    99
b    22
c    33
d    97
e     5
dtype: int64

In [31]:
s["a"]

99

# creation of dictonary with list

In [32]:
dic= pd.Series({"reg":10, "log":11, "cart":12})

In [33]:
dic

reg     10
log     11
cart    12
dtype: int64

In [34]:
dic["reg"]

10

In [35]:
sery=pd.Series(dic)

In [36]:
sery

reg     10
log     11
cart    12
dtype: int64

In [37]:
sery["reg":"log"]

reg    10
log    11
dtype: int64

# union of two series

In [39]:
s1=pd.Series([1,2,3,4,5])
s2=pd.Series(["a","b","c"])

In [42]:
pd.concat([s1,s2])

0    1
1    2
2    3
3    4
4    5
0    a
1    b
2    c
dtype: object

In [43]:
import numpy as np
a= np.array([1,2,33,444,75])
s=pd.Series(a)
s

0      1
1      2
2     33
3    444
4     75
dtype: int32

In [44]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [45]:
s.keys

<bound method Series.keys of 0      1
1      2
2     33
3    444
4     75
dtype: int32>

In [46]:
s.values

array([  1,   2,  33, 444,  75])

In [49]:
list(s.items())

[(0, 1), (1, 2), (2, 33), (3, 444), (4, 75)]

In [50]:
1 in s

True

In [51]:
20 in s

False